@using FindoctorEntity.Entities
@using FindoctorViewModel.Entities.DoctorPatientCombinedVM

@{
    ViewData["Title"] = "Detail";
}

@model CombinedViewModel

<main>
    <div id="breadcrumb">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- /breadcrumb -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <nav id="secondary_nav">
                    <div class="container">
                        <ul class="clearfix">
                            <li><a href="#section_1" class="active">General info</a></li>
                            <li><a href="#section_2">Reviews</a></li>
                            <li><a href="#sidebar">Booking</a></li>
                        </ul>
                    </div>
                </nav>
                <div id="section_1">
                    <div class="box_general_3">
                        <div class="profile">
                            <div class="row">
                                <div class="col-lg-5 col-md-4">
                                    <figure>
                                        <img src="~/assets/img/doctor/@Model.doctors.ImageUrl" alt="" class="img-fluid">
                                    </figure>
                                </div>
                                <div class="col-lg-7 col-md-8">
                                    <small>@Model.doctors.Category.Name</small>
                                    <h1>DR. @Model.doctors.Surname @Model.doctors.Name</h1>
                                    <span class="rating">
                                        <i class="icon_star voted"></i>
                                        <i class="icon_star voted"></i>
                                        <i class="icon_star voted"></i>
                                        <i class="icon_star voted"></i>
                                        <i class="icon_star"></i>
                                        <small>(145)</small>
                                    </span>
                                    <ul class="statistic">
                                        <li>@Model.doctors.View baxış</li>
                                        <li>@Model.doctors.DoctorPatients.Count() xəstə</li>
                                    </ul>
                                    <ul class="contacts">
                                        <li>
                                            <h6 style="display:inline;">İşlədiyi Ünvan</h6> -@Model.doctors.Clinic.Location @Model.doctors.Clinic.Name xəstəxanası
                                        </li>
                                        <li>
                                            <h6 style="display:inline;">Telefon nömrəsi</h6> <a href="tel://994">+994 @Model.doctors.Phone</a>
                                        </li>
                                        <li>
                                            <h6 style="display:inline;">İş saatı</h6> @Model.doctors.StartWorkTime.Hour. @Model.doctors.StartWorkTime.Minute - @Model.doctors.StopWorkTime.Hour.@Model.doctors.StopWorkTime.Minute
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <!-- /profile -->

                        <div class="indent_title_in">
                            <i class="pe-7s-news-paper"></i>
                            <h3>Haqqında</h3>
                            <p>Həkim.</p>
                        </div>
                        <div class="wrapper_indent">
                            <p>@Model.doctors.About</p>
                        </div>
                        <!--  End wrapper indent -->

                        <hr>

                        <div class="indent_title_in">
                            <i class="pe-7s-cash"></i>
                            <h3>Ödənişlər</h3>
                            <p>Xəstələr.</p>
                        </div>
                        <div class="wrapper_indent">
                            <p>Qəbul edilmiş ödənişər.</p>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Xəstə</th>
                                            <th>Ödəniş</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.doctorPatient.Patient.Name @Model.doctorPatient.Patient.Surname</td>
                                            <td>@Model.doctorPatient.Patient.Paymant</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--  /wrapper_indent -->
                    </div>
                    <!-- /section_1 -->
                </div>
                <!-- /box_general -->

                <div id="section_2">
                    <div class="box_general_3">
                        <div class="reviews-container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div id="review_summary">
                                        <strong>4.7</strong>
                                        <div class="rating">
                                            <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                                        </div>
                                        <small>Based on 4 reviews</small>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-10 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-3"><small><strong>5 stars</strong></small></div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-10 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-3"><small><strong>4 stars</strong></small></div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-10 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-3"><small><strong>3 stars</strong></small></div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-10 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-3"><small><strong>2 stars</strong></small></div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-10 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-3"><small><strong>1 stars</strong></small></div>
                                    </div>
                                    <!-- /row -->
                                </div>
                            </div>
                            <!-- /row -->

                            <hr>

                            <div class="review-box clearfix">
                                <figure class="rev-thumb">
                                    <img src="http://via.placeholder.com/150x150.jpg" alt="">
                                </figure>
                                <div class="rev-content">
                                    <div class="rating">
                                        <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                                    </div>
                                    <div class="rev-info">
                                        Admin – April 03, 2016:
                                    </div>
                                    <div class="rev-text">
                                        <p>
                                            Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End review-box -->

                            <div class="review-box clearfix">
                                <figure class="rev-thumb">
                                    <img src="http://via.placeholder.com/150x150.jpg" alt="">
                                </figure>
                                <div class="rev-content">
                                    <div class="rating">
                                        <i class="icon-star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                                    </div>
                                    <div class="rev-info">
                                        Ahsan – April 01, 2016
                                    </div>
                                    <div class="rev-text">
                                        <p>
                                            Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End review-box -->

                            <div class="review-box clearfix">
                                <figure class="rev-thumb">
                                    <img src="http://via.placeholder.com/150x150.jpg" alt="">
                                </figure>
                                <div class="rev-content">
                                    <div class="rating">
                                        <i class="icon-star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                                    </div>
                                    <div class="rev-info">
                                        Sara – March 31, 2016
                                    </div>
                                    <div class="rev-text">
                                        <p>
                                            Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End review-box -->
                        </div>
                        <!-- End review-container -->
                        <hr>
                        <div class="text-right"><a href="submit-review.html" class="btn_1">Submit review</a></div>
                    </div>
                </div>
                <!-- /section_2 -->
            </div>
            <!-- /col -->
            <aside class="col-xl-4 col-lg-4" id="sidebar">
                <div class="box_general_3 booking">
                    <form method="post">
                        @{
                            DateTime time = DateTime.Now;
                        }
                        <div class="title">
                            <h3>Müraciət üçün</h3>
                            <small>Şənbə və bazar günləri işləmirik.</small>
                        </div>
                        @*@if (time.DayOfWeek == DayOfWeek.Saturday || time.DayOfWeek == DayOfWeek.Sunday)
                        {
                        <div class="row">
                        <div class="col-12">
                        <div class="form-group">
                        <p>Bu gün işləmirik.</p>
                        </div>
                        </div>
                        </div>
                        }*@
                        @* else
                        {*@
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input asp-for="@Model.createPatientVM.Time" class="form-control">
                                    <span asp-validation-for="@Model.createPatientVM.Time" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        @*}*@
                        <!-- /row -->
                        <ul class="treatments clearfix">
                            <li>
                                <div style="text-align:center;font-size:18px;" class="checkbox">
                                    <label>@Model.doctors.Category.Name <strong><input readonly asp-for="@Model.createPatientVM.Paymant" value="@Model.doctors.Paymant" /> AZN</strong></label>
                                </div>
                            </li>
                        </ul>
                        <hr>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("User"))
                            {
                                @*@if (time.DayOfWeek == DayOfWeek.Saturday || time.DayOfWeek == DayOfWeek.Sunday)
                        {
                        <a class="btn_1 full-width">İş günü deyil</a>
                        }*@
                                @*else
                        {*@
                                <button type="submit" class="btn_1 full-width">Müraciət edin</button>
                                @*}*@
                            }
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="UserLogin" class="btn_1 full-width">Daxil olun və ya qeydiyyatdan keçin</a>
                        }
                    </form>
                </div>
                <!-- /box_general -->
            </aside>
            <!-- /asdide -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>