@using FindoctorEntity.Entities
@{
    ViewData["Title"] = "Home Page";
}

@model ICollection<Category>

<main>
    <div class="hero_home version_2">
        <div class="content">
            <h3>Həkim axtarın!</h3>
            <p>
                İstətdiyiniz həkimi axtarış edərək tapa bilərsiniz. Həkimlər haqqında məlumatları öyrənə bilərsiniz.
            </p>
            <form asp-controller="SearchBar" asp-action="Search">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input name="Search" type="text" class="search-query" placeholder="Həkim, Klinika ....">
                        <input type="submit" class="btn_search" value="Axtar">
                    </div>
                    <ul>
                        <li>
                            <input type="radio" id="doctor" name="radio_search" value="doctor">
                            <label for="doctor"><a asp-controller="SearchBar" asp-action="Search" style="color:white">Həkim axtar</a></label>
                        </li>
                        <li>
                            <input type="radio" id="clinic" name="radio_search" value="clinic">
                            <label for="clinic"><a asp-controller="SearchBar" asp-action="SearchClinic" style="color:white">Klinika axtar</a></label>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <!-- /Hero -->

    <div class="container margin_120_95">
        <div class="main_title">
            <h2>İntenrnet üzərindən həkimlərlə əlaqə!</h2>
            <p>Həkimlər internet vasitəsilə sizin müraciətinizə cavab verə bilir. Buna görədə istədiyiniz vaxt internet üzərindən həkimlərə əlaqəyə keçə bilərsiniz.</p>
        </div>
        <div class="row add_bottom_30">
            <div class="col-lg-4">
                <div class="box_feat" id="icon_1">
                    <span></span>
                    <h3>Həkim axtar</h3>
                    <p>Həkimləri axtararaq onlar haqqında məlumat öyrənə və rəylərinizi bildirə bilərsiniz.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_feat" id="icon_2">
                    <span></span>
                    <h3>Həkim hesabı</h3>
                    <p>Həkimlərin hesabını axtararaq onlar haqqında sizə lazım olanları tapa bilərsiniz.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_feat" id="icon_3">
                    <h3>Həkimə müraciət</h3>
                    <p>İstədiyiniz həkimə müraciət edərək öz problemlərinizə çarə tapa bilərsiniz.</p>
                </div>
            </div>
        </div>
        <!-- End row -->
        <p class="text-center"><a asp-controller="Category" asp-action="AllDoctors" class="btn_1 medium">Həkim axtarın</a></p>
    </div>
    <!-- End container -->

    <div class="bg_color_1">
        <div class="container margin_120_95">
            <div class="main_title">
                <h2>Ən çox baxılan həkimlər</h2>
                <p>İzlənmə sayına görə ən üst səviyyədə olan həkimlər.</p>
            </div>
            <div id="reccomended" class="owl-carousel owl-theme">
                @foreach (var doctors in (List<Doctor>)ViewBag.Doctors)@*GetRange(0,5)*@
                {
                    <div class="item">
                        <a asp-controller="Category" asp-action="Detail" asp-route-Id="@doctors.Id">
                            <div class="views"><i class="icon-eye-7"></i>@doctors.View</div>
                            <div class="title">
                                <h4>Dr. @doctors.Surname @doctors.Name<em>@doctors.Category.Name</em></h4>
                            </div><img src="~/assets/img/doctor/@doctors.ImageUrl" alt="">
                        </a>
                    </div>
                }
            </div>
            <!-- /carousel -->
        </div>
        <!-- /container -->
    </div>
    <!-- /white_bg -->

    <div class="container margin_120_95">
        <div class="main_title">
            <h2>İxtisasına görə həkimlər</h2>
            <p>Siz həkimləri tapa onlar haqqında öyrənə və onlara müraciət edə bilərsiniz.</p>
        </div>
        <div class="row">
            @foreach (var categories in Model ?? new List<Category>())
            {
                <div class="col-lg-3 col-md-6">
                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="@categories.Id" class="box_cat_home">
                        <i class="icon-info-4"></i>
                        <img src="~/assets/img/category/@categories.ImageUrl" width="60" height="60" alt="">
                        <h3>@categories.Name</h3>
                        <ul class="clearfix">
                            <li><strong>@categories.Doctors.Count</strong>Həkim</li>
                            <li><strong>@categories.Clinics.Count</strong>Klinika</li>
                        </ul>
                    </a>
                </div>
            }
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <!-- /app_section -->
</main>
<!-- /main content -->
